nav {
  max-width: 100%;
  display: flex;
  box-shadow: rgba(0, 0, 0, .15) 0px -2px 10px 0px;
  justify-content: space-between;
  align-items: center;
  padding: .5em 2em;
  
  
}

.brand {
  font-size: 1.2em;
  text-decoration: none;
  font-weight: 800;
  color: #6C00FF;
  

}

.brand div {
  display: flex;
  align-items: center;

}


.brand svg {
  font-size: 2rem;
  margin-right: .3em;
  color: #6C00FF;
}

.btn_menu {
  visibility: hidden;
  opacity: 0;
}

.close_btn {
  visibility: hidden;
  opacity: 0;
}

.links_list {
  display: flex;
  align-items: center;
  list-style: none;
  
}

.links_list div {
  display: flex;
  gap: .2em;
  align-items: center;
  font-size: 1em;
}

.links_list {
  margin-right: 1em;
}

.logout li:hover {
  transform: translateY(0);
  background-color: #6C00FF;
}

.active {
  font-weight: 800;
  color: #0A2647;
}

.active svg {
  color: #6C00FF;
}

@media (max-width: 900px) {
  
  .btn_menu {
    visibility: visible;
    opacity: 1;
    padding: 0;
  }

  .close_btn {
    visibility: visible;
    opacity: 1;
  }

  .links_list {
    position: fixed;
    top: 0px;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 1s;
    transform: translateY(-100vh);

    z-index: 1000;
    padding: 0;
  }

  .responsive_menu {
    transform: none;
  
  }
  

  .close_btn {
    position: absolute;
    top: 2em;
    right: 1.7em;
    padding: 0;
  }

}